.profileField {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 11px;
  padding: 10px;
  align-items: center;
}

.fieldName {
  font-size: 14px;
  font-weight: 600;
  color: var(--color-primary);
  width: 180px;
}

.inputWrap {
  width: 100%;
}

.fieldValue {
  text-align: end;
  color: var(--color-secondary);
  font-weight: 600;
  padding: 12px 14px;
}
