.profile {
  display: flex;
}

.profileContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  width: 450px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileTitle {
  margin-top: 43px;
  font-size: 24px;
  font-weight: bold;
  color: var(--color-primary);
}

.profileUserData {
  width: 100%;
}

.profileButtonCenter {
  display: flex;
  justify-content: center;
}
