.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0 5%;
  box-sizing: border-box;
}

.logoWrap {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.gameBoard {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.game {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.deskCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.cardsCounter {
  font-weight: 600;
  font-size: 16px;
  color: var(--color-primary);
}
