.endGame,
.endGameButtons {
  display: flex;
  flex-direction: column;
}

.endGame {
  gap: 70px;
  align-items: center;
  opacity: 0;
  animation: animation 1.3s forwards;
}

.endGameText {
  color: var(--color-primary);
  font-size: 64px;
  font-weight: 600;
}

.endGameButtons {
  gap: 50px;
  align-items: center;
}

@keyframes animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
