.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-secondary-transparent);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.modalContent {
  background-color: var(--color-primary);
  padding: 40px 30px;
  border-radius: 12px;
  border: 2px solid var(--color-secondary);
  width: 340px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.closeButton {
  background-color: var(--color-black-transparent);
  color: var(--color-contrast);
  border: none;
  cursor: pointer;
  font-size: 30px;
  position: absolute;
  right: -40px;
  top: -16px;
  width: 30px;
  transition: 0.1s all ease;
}

.closeButton:hover {
  color: var(--color-primary);
}

.modalInput {
  margin: 20px 0;
}

.modalInputFile {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}

.modalImgFile {
  position: relative;
  display: flex;
  margin: 40px 0 45px;
}

.modalSpan {
  padding: 5px;
  width: 135px;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: var(--color-secondary);
  text-decoration: underline;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.1s background-color ease;
}

.modalImgFile:hover span {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  text-decoration: none;
}

.modalUploadedMessage {
  text-transform: none;
  font-size: 25px;
  color: var(--color-secondary);
}
