.avatarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background-light);
  border-radius: 50%;
  border: 2px solid var(--color-secondary);
  overflow: hidden;
}

.avatar-s {
  width: 54px;
  height: 54px;
}

.image-s {
  height: 35px;
}

.avatar-m {
  width: 78px;
  height: 78px;
}

.image-m {
  height: 48px;
}

.avatar-l {
  width: 128px;
  height: 128px;
}

.image-l {
  height: 72px;
}

.avatarImg {
  width: inherit;
  height: inherit;
  object-fit: cover;
}
