.avatarContainer,
.avatarContainerProfile {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background-light);
  border-radius: 50%;
  border: 2px solid var(--color-secondary);
  overflow: hidden;
}

.avatar-s {
  width: 54px;
  height: 54px;
}

.image-s {
  height: 35px;
}

.avatar-m {
  width: 78px;
  height: 78px;
}

.image-m {
  height: 48px;
}

.avatar-l {
  width: 128px;
  height: 128px;
}

.image-l {
  height: 72px;
}

.avatarImg {
  width: inherit;
  height: inherit;
  object-fit: cover;
}

.avatarContainerProfile {
  position: relative;
  cursor: pointer;
}

.avatarContainerProfile:hover {
  background-color: var(--color-secondary-transparent);
}

.avatarContainerProfile:hover .profileAvatarText {
  opacity: 1;
  background-color: var(--color-secondary-transparent);
}

.profileAvatarText {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  text-align: center;
  color: var(--color-primary);
  opacity: 0;
  pointer-events: none;
  transition: 0.1s all ease;
}
